<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter&display=swap" rel="stylesheet">
    <title>Bill Gates</title>
    <style>
      * {
        margin: 0;
        padding: 0;
      }

      .book {
        max-width: 850px;
        font-family: "Inter", sans-serif;
        margin: 0 auto;
        padding: 20px;
        border-right: 1px solid #000;
        border-left: 1px solid #000;
      }

      .book__head {
        padding-bottom: 40px;
        display: flex;
        gap: 20px;
        border-bottom: 1px solid #000;
      }

      .book__head-image {
        aspect-ratio: 3 / 4;
        width: 150px;
        border: 1px solid #202020;
      }

      .book__head-text-block {

      }

      .book__head-title {

      }

      .book__head-description {
        margin-top: 10px;
      }

      .book__head-author {
        color: #6b6b6b;
        margin-top: 20px;
      }

      .thread {
        padding: 20px 0;
      }

      .thread__title {
        margin-bottom: 10px;
        font-size: 24px;
      }

      .thread__content {
        display: flex;
        flex-direction: column;
        gap: 20px;
      }

      .message {
        border: 1px solid #202020;
        border-radius: 5px;
      }

      .message__head {
        background-color: #000;
        padding: 5px;
        color: #fff;
      }

      .message__content {
        padding: 5px;
      }
    </style>
</head>
<body>
<div class="book">
    <div class="book__head">
        <img src="../images/elon.jpg" class="book__head-image" alt="book cover image">
        <div class="book__head-text-block">
            <h1 class="book__head-title">
                <%= title %>
            </h1>
            <p class="book__head-description">
                Aspernatur dicta ipsam maiores officiis similique unde! Aliquid at, error illum ipsam
                minima minus tempore vel? Ab aliquid asperiores consequuntur cum deleniti dolorem dolorum ducimus
                eveniet explicabo fugit harum ipsum laborum necessitatibus nemo, neque non numquam possimus quae
                quam quo reprehenderit rerum saepe sed veritatis vitae.
            </p>
            <p class="book__head-author">
                <%= author %>
            </p>
        </div>
    </div>
    <div class="thread">
        <h2 class="thread__title">Thread</h2>
        <div class="thread__content">
            <div class="message">
                <div class="message__head">Summary</div>
                <p class="message__content">
                    It seems like your message might have been cut off. If you have any questions or topics in mind
                    related
                    to Elon Musk, just let me know and we can start our conversation from there!
                </p>
            </div>
            <div class="message">
                <div class="message__head">All Chapters</div>
                <p class="message__content">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt itaque necessitatibus neque
                    possimus ratione sint. Beatae eius expedita facilis fugit, libero perferendis quae repudiandae
                    voluptates. Aspernatur dicta ipsam maiores officiis similique unde! Aliquid at, error illum ipsam
                    minima minus tempore vel? Ab aliquid asperiores consequuntur cum deleniti dolorem dolorum ducimus
                    eveniet explicabo fugit harum ipsum laborum necessitatibus nemo, neque non numquam possimus quae
                    quam quo reprehenderit rerum saepe sed veritatis vitae. Adipisci commodi culpa dolorum ducimus est
                    fugiat, laudantium magnam molestiae nemo neque nobis, praesentium quam quisquam ratione saepe
                    similique voluptatem voluptates voluptatum! Aliquam delectus, error incidunt ipsum minima quis sed
                    totam? Accusantium commodi debitis earum eius exercitationem illum ipsum nesciunt provident quam
                    velit. Ab atque cumque, distinctio ea fuga harum necessitatibus nobis omnis quae quod, voluptate
                    voluptatibus! Adipisci asperiores assumenda autem enim exercitationem, facilis iste libero minima
                    minus, nam nisi perferendis placeat possimus quod tenetur veniam vitae voluptas. Possimus.
                </p>
            </div>
            <div class="message">
                <div class="message__head">Chapter 1</div>
                <p class="message__content">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam aspernatur blanditiis est in,
                    magni repellat ut voluptate. Ab accusamus ad aut beatae commodi cum cumque ducimus earum eos eum
                    excepturi expedita illum in iusto labore laboriosam laborum maxime minima non, obcaecati, optio
                    placeat quidem quis recusandae, sapiente soluta voluptate voluptates!
                </p>
            </div>
            <div class="message">
                <div class="message__head">Chapter 2</div>
                <p class="message__content">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. A assumenda at blanditiis cum cumque
                    delectus deleniti deserunt dicta eius eligendi error est et expedita fugiat iure minima molestiae
                    natus nisi odit qui quia quidem reiciendis sequi sunt totam veritatis vero, voluptatum. Accusantium
                    at corporis culpa dolorum ducimus earum expedita fugit itaque maiores, nulla officiis perferendis,
                    qui quos tenetur, vitae. Accusantium amet architecto consequatur corporis deserunt eveniet nam,
                    placeat praesentium quia rem. Animi, asperiores aut consequuntur dicta, distinctio expedita illum
                    ipsum iusto maxime provident quo rem similique ut? Aspernatur, dignissimos ea eligendi error est id
                    iste libero porro quasi quos recusandae?
                </p>
            </div>
            <div class="message">
                <div class="message__head">Chapter 3</div>
                <p class="message__content">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium asperiores ea eos facilis
                    fuga, illo laudantium magnam minima molestiae obcaecati quaerat quas ratione repellat sed soluta.
                    Amet animi consequatur consequuntur cum delectus deleniti dolore eligendi expedita impedit modi,
                    nisi nobis obcaecati officia pariatur quis quo similique sint, tempora voluptas voluptatibus!
                </p>
            </div>
        </div>
    </div>

</div>
</body>
</html>